*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family:'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 300;
    background-color: transparent;
}

.navbar a {
    font-family: 'Roboto', sans-serif
}

nav img{
    width: 30px;
    height: 24px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    padding-top: 3rem;
}

#quienes_somos {
    background-color: #000000;
    padding-bottom: 1rem;
}

#destacados {
    background-color: #000000;
    padding-bottom: 1rem;
}

.card img {
    height: 9rem;
}

.card {
    min-height: 25rem;
    margin-bottom: 2rem;
    opacity: 0.6;
}

form{
    background-color: #000000;
    padding-bottom: 3rem;
}

#formulario {
    background-color: #000000;
}

footer ul {
        list-style-type: none;
        overflow: hidden;
        margin: 0;
}

li a {
    display: inline-block;
    padding: 1rem;
  }

  footer .text-uppercase {
    width: 250px;
    padding: 1rem;
    float: left;
    margin: auto;
}

/* Estilo de los enlaces al pasar el cursor en barra de navegación*/
.navbar a:hover {
	background-color:darkcyan; 
	color: white;
    }
