*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family:'Roboto', sans-serif;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
  }

.navbar a {
    font-family: 'Roboto', sans-serif
}

h2 {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding-top: 3rem;
}

#quienes_somos {
    background-color: #000000; 
}

.icons_section {
    font-weight: 300;
    background-color: #00838f;
}

#destacados {
    background-color: #000000;
    font-weight: 300;
    padding-bottom: 1rem;
}

.card img {
    height: 140px;
}

.card {
    min-height: 25rem;
    margin-bottom: 2rem;
}

form{
    background-color: #000000;
}

#formulario {
    background-color: #000000;
}